.basket-item{
    display: flex;
    justify-content: space-between;
}
.basket-item-mainInformation, .basket-item-subInformation {
    display: flex;
}
.checkbox-inItem {
    top: 36px;
}
.basket-item-photo {
    margin-right: 17px;
}
.basket-item-description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 96px - 20px);
    gap: 8px;
    max-width: 275px;
}
.basket-item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.basket-item-quality {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.basket-item-color, .basket-item-size {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}
.basket-item-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.basket-item-subInfo {
    display: flex;
}
.basket-item-warehouse, .basket-item-provider {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--system-gray);
}
.basket-item-provider {
    padding-top: 2px;
}
.basket-item-attention {
    padding-left: 7px;
}
.basket-item-notification {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--dark-system-coral);
}
.basket-item-functions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.basket-item-count {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.counter{
    display: flex;
    background-color: var(--white);
    justify-content: center;
    border-radius: 8px;
    padding: 8px 2px 12px 2px;
}
.counter input, .counter button{
    border: none;
    background-color: var(--white);
    text-align: center;
}
.counter input {
    width: 44px;
    height: 23px;
}
.counter button {
    width: 24px;
    height: 24px;
}
.input-count {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.basket-item-opportunities {
    display: flex;
    flex-direction: row;
    padding-left: 44px;
    gap: 17px;
}
.basket-item-addFavorite, .basket-item-delete {
    border: none;
    background-color: var(--background-smoky);
    height: 20px;
    width: 20px;
}
.basket-item-addFavorite:hover svg path {
    fill: var(--system-magenta);
}
.basket-item-delete:hover svg path {
    fill: var(--Orange);
}
.basket-item-price {
    text-align: right;
    width: 126px;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
}

.basket-item-newPrice-currency {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: inline;
}
.basket-item-newPrice {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.2px;
    padding-left: 6px;
}
.basket-item-oldPrice {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--system-gray);
    padding-top: 6px;
}
.dn {
    display: none;
}
.largeNumber{
    font-size: 16px;
}
.strike {
    text-decoration: line-through;
}
@media screen and (width: 1024px){
    .basket-item-noProduct .basket-item {
        max-width: 514px;
    }
}

@media screen and (width: 320px){
    .basket-item {
        justify-content: normal;
        padding-bottom: 18px;
        border-bottom: 1px solid var(--rulers-rulers);
        width: 100%;
        gap: 14px;
    }
    .checkbox-inItem {
        top: -1px;
        left: 4px;
    }
    .basket-item-mainInformation {
        flex-direction: column;
    }
    .counter {
        width: 80px;
        height: 32px;
    }
    .btn-plus, .btn-minus {
        width: 9px;
    }
    .input-count {
        /*width: 42px;*/
    }
    .basket-item-name {
        max-height: 38px;
    }
    .basket-item-description {
        margin-top: 16px;
        width: 100%;
    }
    .basket-item-price {
        flex-direction: row;
        gap: 7px;
        width: 195px;
    }
    .basket-item-newPrice {
        font-size: 16px;
        line-height: 24px;
        padding-left: 0;
    }
    .basket-item-name {
        font-size: 14px;
        line-height: 20px;
        width: 181px;
        margin-top: -6px;
    }
    .basket-item-functions {
        flex-direction: row;
    }
    .basket-item-quality {
        /*width: 75px;*/
    }
    .basket-item-color{
        width: 100%;
    }
    .basket-item-info {
        width: 82px;
    }
    .basket-item-warehouse{
        width: 100%;
    }
    .basket-item-functions {
        gap: 28px;
    }
    .basket-item-opportunities {
        padding-left: 0;
        gap: 26px;
        margin-top: 22px;
        align-items: flex-end;
    }
    .item-2 {
        margin-top: 8px;
    }
    .basket-item-notification {
        margin-top: 23px;
        width: 88px;
    }
    .tree_point {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .item4 {
        margin-top: 7px;
    }
    .functions-4 {
        padding-top: 7px;
        gap: 35px;
    }
    .opportunities-4 {
        margin-top: 21px;
    }
}
