.basket {
    display: flex;
    padding: 0 24px 27px 24px;
    gap: 32px;
    background-color: var(--background-smoky);
}
.basket-content {
    width: calc(100% - 340px - 40px);
    padding-top: 12px;
}
.basket-order {
    font-size: 16px;
    line-height: 22px;
}
.basket-header{
    font-family: Segoe UI, serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    color: var(--text-black);
    margin-bottom: 26px;
}
.basket-items-active {
    max-width: 891px;
    /*position: relative;*/
}
.basket-items__checkbox {
    display: flex;
    border-bottom: 1px solid var(--rulers-rulers);
    padding-bottom: 18px;
}
.basket-items {
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.basket-items-mobile{
    display: none;
}
/*.checkbox-custom {*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    padding-left: 33px;*/
/*    position: relative;*/
/*    font-size: 0;*/
/*    line-height: 0;*/
/*    -webkit-touch-callout: none;*/
/*    user-select: none;*/
/*}*/
.realCheckbox{
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.newCheckbox{
    background: #fff;
    border: 1px solid #d3d4dd;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.newCheckbox::before {
    content: '';
    width: 19px;
    height: 19px;
    background-image: url("../../../assets/images/svg/checked.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    transform:scale(0);
    transition: 0.2s ease-in;
}
.realCheckbox:checked + .newCheckbox::before {
    transform: scale(1);
}
.checkbox-text{
    font-size: 16px;
    line-height: 22px;
    color: var(--text-black);
    font-family: Segoe UI, serif;
    font-weight: 400;
}
.accordion__icon {
    width: 20px;
    margin-left: auto;
}
.accordion__icon::before{
    content: '−';
    display: block;
    font-size: 0;
    line-height: 0;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #d3d4dd;
    width: 12px;
    height: 12px;
    transform: rotate(135deg);
    margin-top: 6px;
    transition: margin .3s ease,transform .3s ease;
}
.basket-items.closed {
    display: none;
}
.basket-items.closed .accordion__icon::before {
    content: '+';
    transform: rotate(-45deg);
}
@media screen and (width: 1024px){
    .basket{
        justify-content: space-between;
    }
    .basket-content{
        width: calc(100% - 297px - 40px);
    }
}
@media screen and (max-width: 874px){
    .basket-content {
        width: 100%;
    }
    .basket {
        flex-direction: column;
    }
}
@media screen and (max-width: 500px){
    .basket{
        gap: 0;
    }
    .basket-items {
        display: none;
    }
    .basket-items-mobile {
        display: flex;
        flex-direction: column;
    }
    .basket {
        flex-direction: column;
        padding: 0 16px 16px;
    }
    .basket-content {
        margin-top: -8px;
        padding-top: 0;
        width: 100%;
    }
    .basket-header {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
        margin-bottom: 16px;
    }
    .basket-items__checkbox {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
        cursor: pointer;
    }
    .checkbox-text {
        width: 91px;
        display: block;
    }
    .basket-item-img {
        width: 80px;
        height: 106px;
        margin-bottom: 24px;
    }
    .basket-item-photo, .basket-item-photo img {
        width: 100%;
        height: 100%;
        margin-top: -4px;
    }
}
