.mobile-menu-content {
    display: none;
}
@media screen and (width: 320px){
    .mobile-menu-content {
        display: flex;
        height: 58px;
        padding: 0 13px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }
    .mobile-menu {
        cursor: pointer;
    }
   .mobile-menu-content .menu-basket-counter {
       right: 141px;
       text-align: center;
       font-size: 10px;
       font-weight: 700;
       line-height: 18px;
    }
}
