.delivery-method, .recipient {
    display: flex;
    padding: 15px 24px 24px 24px;
    flex-direction: column;
    gap: 23px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--white);
    margin-top: 43px;
}
.recipient {
    margin-top: 15px;
    gap: 3px;
}
.delivery-method .delivery-free {
    background-color: var(--white);
    margin-bottom: 0;
}
.delivery-method-header, .payment-method-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.payment-method-header button, .delivery-method-header button {
    border: none;
    background: none;
    color: var(--system-magenta);
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
}
.delivery-method-title,.payment-method-title, .recipient-title  {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.24px;
}
.point-issue-title, .cost-delivery-title, .delivery-date-title, .delivery-date-title {
    display: inline-block;
    vertical-align: top;
    width: 155px;
    margin-right: 29px;
}
.point-issue, .cost-delivery {
    display: flex;
    margin-top: -6px;
}
.point-issue-title {
    letter-spacing: 0.3px;
}
.point-issue-text {
    display: flex;
    flex-direction: column;
    width: 322px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-top: -2px;
}
.point-issue-img {
    padding-right: 5px;
}
.point-issue-subText {
    font-size: 13px;
}
.cost-delivery {
    margin-top: -9px;
}
.cost-delivery-title {
    letter-spacing: 0.2px;
}
.delivery-items {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.delivery-date-title {
    margin-top: -5px;
}
.delivery-date-container {
    display: flex;
    margin-top: -7px;
    gap: 10px;
}
.delivery-date {
    display: flex;
}
.delivery-date-productImg {
    margin-top: -7px;
    display: flex;
    gap: 8px;
}
.delivery-free-inDeliveryMethod {
    padding-top: 0;
    margin-left: -8px;
    padding-bottom: 0;
}

.delivery-date-productImg-item {
    position: relative;
}
.delivery-date-productImg-item img {
    width: 100%;
    height: 100%;
}
.delivery-productImg {
    width: 40px;
    height: 56px;
}
.delivery-date-productImg-item .menu-basket-counter {
    right: 0;
    top: -8px;
}
.delivery-date-productImg-item-2 .menu-basket-counter {
    width: 24px;
}

.payment-method {
    display: flex;
    padding: 16px 24px 24px 24px;
    flex-direction: column;
    align-self: stretch;
    border-radius: 16px;
    background: var(--white);
    margin-top: 17px;
    gap: 3px;
}
.payment-method-header {
    margin-bottom: 16px;
}
.payment-description {
    display: flex;
    gap: 3px;
    margin-top: 7px;

    gap: 10px;
    margin-top: -4px;
    margin-bottom: 8px;
}
.basket-order .payment-description {
    margin-top: 7px;
    margin-bottom: -2px;
}
.payment-description-text-inPaymentMethod {
    display: flex;
    gap: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.payment-description-subtext {
    color: var(--system-gray);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.recipient input {
    border: none;
    border-bottom: 1px solid var(--rulers-rulers-input);
    outline: none !important;
    height: 45px;
}
.recipient input:focus::placeholder {
    transform: translateY(-10px);
}
.recipient-inputs {
    padding-top: 2px;

}
.recipient-inputs-1 {
    display: flex;
    gap: 20px;
    margin-top: 11px;
    margin-bottom: 18px;
}
.recipient-inputs-1 input {
    width: 338px;
}
.recipient-inputs-2 {
    display: flex;
    gap: 20px;
}
.recipient-inputs-2 input {
    width: 218px;
}
.recipient-inputs input {
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    padding-top: 16px;
}
.recipient-input5 {
    padding-left: 6px;
}
.mark {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    right: 188px;
    padding-top: 3px;
    padding-left: 6px;
}
.error {
    color: var(--Orange);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
@media screen and (width: 1024px){
    .mark {
        right: 10px;
    }
    .payment-description {
        margin-top: 0;
        margin-bottom: 7px;
    }
    .order-delivery-details .point-issue-text {
        white-space: pre-wrap;
        max-width: 232px;
        line-height: 16px;
    }
    .payment-method {
        gap: 1px;
    }
    .payment-description-text-inPaymentMethod {
        margin-left: 7px;
    }
    .recipient-inputs-1 {
        margin-top: 13px;
    }
    .recipient-inputs-1 input {
        width: 285px;
    }
    .recipient-inputs-2 input {
        width: 185px;
    }
    .recipient-input5, .mark {
        padding-left: 0;
    }
}
@media screen and (max-width: 883px){
    .recipient-inputs-2  {
       flex-wrap: wrap;
    }
}

@media screen and (max-width: 772px) {
    .recipient-inputs-1 input {
        max-width: 250px;
    }

    .recipient-inputs-2 input {
        max-width: 250px;

    }
}

@media screen and (max-width: 672px){
    .recipient-inputs-1 input {
        max-width: 269px;
    }
    .recipient-inputs-2 input {
        max-width: 269px;
    }
}

@media screen and (max-width: 635px) {
    .recipient-inputs-1 input {
        max-width: 220px;
    }

    .recipient-inputs-2 input {
        max-width: 220px;

    }
}

@media screen and (max-width: 540px) {
    .recipient-inputs-1 input {
        max-width: 180px;
    }

    .recipient-inputs-2 input {
        max-width: 180px;

    }
}
@media screen and (max-width: 450px) {
    .recipient-inputs-1 {
        flex-direction: column;
    }
    .recipient-inputs-1 input {
        max-width: 290px;
    }

    .recipient-inputs-2 input {
        max-width: 290px;
        width: 290px;

    }
}
@media screen and (max-width: 350px){
    .recipient-inputs-1 {
        flex-direction: column;
    }
    .recipient-inputs-1 input {
        max-width: 200px;
    }

    .recipient-inputs-2 input {
        max-width: 200px;
        width: 200px;

    }
}

@media screen and (width: 320px) {
    .delivery-method, .payment-method, .recipient{
        margin-right: -14px;
        margin-left: -16px;
        margin-top: 14px;
        padding: 15px 16px 24px 16px;
        gap: 0;
    }
    .delivery-method-header, .payment-method-header, .recipient-header {
        font-weight: 700;
        margin-bottom: 16px;
    }
    .recipient-header {
        margin: 0;
    }
    .delivery-method-title, .payment-method-title, .recipient-title{
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
    }
    .delivery-method-header button{
        font-size: 16px;
        line-height: 24px;
    }
    .point-issue {
        display: block;
        margin-bottom: 26px;
    }
    .point-issue-title {
        letter-spacing: 0;
    }
    .point-issue-text {
        width: 286px;
    }
    .point-issue .point-issue-text {
        margin-top: 1px;
    }
    .point-issue .point-issue-subText {
        margin-top: -3px;
    }
    .cost-delivery{
        flex-direction: column;
        margin-bottom: 25px;
    }
    .delivery-date {
        flex-direction: column;
        gap: 18px;
        margin-bottom: 28px;
    }
    .delivery-items {
        gap: 5px;
    }
    .delivery-free-inDeliveryMethod {
        margin-left: 0;
        padding: 0 25px 12px 8px;
        margin-top: -2px;
    }
    .payment-method {
        margin-top: 0;
    }
    .payment-description {
        margin-bottom: 6px;
        margin-top: 0;
    }

    .payment-method-header{
        margin-bottom: 10px;
    }
    .payment-description {
        gap: 8px;
    }
    .recipient {
        margin-top: 12px;
    }
    .recipient-inputs {
        display: flex;
        flex-direction: column;
        width: 289px;
    }
    .recipient-inputs-1, .recipient-inputs-2 {
        flex-direction: column;
        width: 100%;
        gap: 50px;
        margin-bottom: 0;
        margin-top: 3px;
    }
    .recipient-inputs-1 {
        gap: 26px;
    }
    .recipient-inputs-2 {
        margin-top: 27px;
        gap: 28px;
    }
    .recipient input {
        width: 100%;
    }
    .recipient-input5 {
        padding-left: 0;
    }
    .mark {
        position: inherit;
        /*right: 0;*/
        padding-left:0;
        padding-top:0;
        margin-left: -1px;
}
}

